tomcat.*
build
.gradle
gradle
content
.classpath
.project
.settings
/bin/
*.class
*.jar
*.pdf
*.DS_Store

src/main/java/interpret/ActionOutcome.java
src/main/java/parse/Token.java
src/main/java/parse/TokenCategory.java
src/main/java/parse/Tokenizer.java
src/main/java/parse/TokenType.java
